.timeline_container {
  display: flex;
  z-index: -1;
}

.timeline_progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
}

.timeilne_player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
