.tweet_continerHit {
  font-size: large;
  cursor: pointer;
  font-size: 150%;
  padding: 1%;
}
.tweet_continerNonHit {
  font-size: large;
  cursor: pointer;
  padding: 1%;
}
.tweet_time {
  text-align: right;
  font-size: 50%;
  color: rgb(119, 126, 133);
}
.timeline_progress {
  text-align: center;
}
