.header_container {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  border-bottom: solid 0.1rem;
  border-color: #dddddd;
  margin-left: 1%;
  margin-right: 1%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.header_title {
  margin-right: 3%;
}

.header_searchBox {
  width: 75%;
  display: flex;
}

.header_input {
  font-size: medium;
  width: 75%;
}

.header_switch {
  margin-right: 3%;
}

.header_avatar {
  margin-left: 5%;
}

button {
  border: none;
}

input {
  border-radius: 1em;
  border-color: rgb(208, 217, 226);
}
